<div id="preferences_view" ng-controller="PreferencesController">
    <div class="col-sm-3">


        <div ng-controller="BHAccordionController">
            <accordion close-others="oneAtATime">
                <accordion-group heading="{{ group.title }}" ng-repeat="group in groups">
                    <ul>
                        <li ng-repeat="item in group.items">
                            <a href="" ng-click="'currentTemplate.path = {{ item.path }}'"> {{ item.content }}</a>
                        </li>
                    </ul>

                </accordion-group>
            </accordion>
        </div>


    </div>
    <div class="col-sm-9">
        <div data-ng-include="currentTemplate.path"></div>
    </div>
</div>
